.title {
    background-image: url('/static/images/home3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    margin-top: 0vh;

}
.blog-title {
    padding-top: 10vh;
}
.blog-title h1 {

    font-size: 10vw;
    color: purple;
    font-family: 'Modak', cursive;
}
.blog-title p {
    font: bold;
    font-size: 2vw;
    color: white;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(39, 38, 37);
}
.quote {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding-top: 18vh;  
    color: black;
}
.list-group-item {
    border-color: transparent;
    background-color: lightgray;
   
}
.btn {
    font-family: 'Cabin', sans-serif;
    color: white;
    border-radius: 0px;
}
.jumbotron {
    background-image: url('/static/images/home3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Modak', cursive;
    border-radius: 0px;
    color: purple;
}
.list-group-item p {
    font-family: 'Cabin', sans-serif;
}