{% macro displayAllBlogs(blogs)%}
    {%for writer_blog in blogs%}
        <div class="col-md-3">
            <div class="items">
                <li class="list-group-item">
                    <h4>{{writer_blog.title}}</h4>
                    <p>{{writer_blog.blog_post}}</p>
                    <p>Posted by:  {{writer_blog.blog_id.full_name}} <a href="/comment/{{writer_blog.id}}" class="btn btn-primary pull-right">View</a> </p>
                </li>
            </div>
        </div>
    {%endfor%}
{%endmacro%}

{% macro displayUserComments(comments) %}
    {% for comment in comments%}
        <div class="col-md-3">
                <div class="comments">
                    <li class="list-group-item">
                        <p>Comment by: {{comment.username}}</p>
                        <p>{{comment.comment}}</p>
                        <div><a href="/comment/delete" class="btn btn-primary">Delete</a></div>
                    </li>
                </div>
            </div>
    {% endfor %}
{% endmacro %}