<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('main.profile',full_name=current_user.full_name)}}">Profile</a></li>
                    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                    <li><a href="{{url_for('auth.writer_login')}}">Sign in</a></li>
                {%endif%}
            </ul>
    </div>
</div>

