{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}
    <div class="container-fluid">
        {% include 'navbar.html'%}
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>


            <div class="col-md-8">

                {{wtf.quick_form(user)}}

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
{% endblock %}